<!DOCTYPE html>

<html>

<head>
    <title><%= tname %> Settings </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/d1f9ff8b6d.js" crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style> 
        .submit{
            border-radius: 5px;
            background-color: rgba(73,115,162,1) ;
            width: 20%;
            position: center;
            margin: 3%;
            padding: 1%;
            color: aliceblue;
        }
        
    </style>
</head>

<body>
    <div class="min-h-screen bg-dotmanage">
        <div style="width: 100%;height: 8%;background-color: rgba(73,115,162,1);position: fixed;" class="object-top">
            <div style="padding-right: 1%;padding-top: .9%;">
                <a href="/logout"><button class="md:text-lg btn logout" style="float: right;">Logout</button></a>
            </div>

            <p class="text-base md:text-3xl " style="padding-left:.8%; padding-top:.1%; color: white; text-align: left;">Dot Manage</p>
        </div>

        <div class="flex md:flex-row" style="position: fixed;top: 8%;width: 100%;height: 92%;">

            <div href="" style="width: 15%;height: 100%;background-color: white;" class="">

                <a href="/dashboard">
                    <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                    <i style="color: black; float: left; margin-right: 10px;" class="fas fa-users"></i> <p style="color: black; ">View Teams</p>
                    </div>
                </a>

                <a href="/costestimation">
                    <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                        <i style="color: black; float: left; margin-right: 10px;" class="fas fa-money-bill-alt"></i><p style="color: black;">Estimate Cost</p>
                    </div>
                </a>
                
            </div>

  

            <div style="flex-grow: 1 ;width: 85%;height: 92%; padding: 4%;padding-right: 0;padding-top: 0;" class="formbody">

                <div style="flex-grow: 1 ;width: 100%;height: 10%;padding-top: 2%;padding-left: 5%;">
                    <h1 class="text-xl text-left inline-block">Settings</h1>
                    <h1 class="text-xl text-center ml-56 inline-block">Team Joining Code: <%=  %></h1>
                    </div>
                    <div style="flex-grow: 1 ;width: 100%;height: 90%; padding: 5%;padding-top:1%;overflow:auto;">
                        <div>Manager</div>
                    <table class="min-w-full divide-y divide-gray-200">
                        <tbody class="bg-white min-w-full divide-y-4 divide-green-50">
                            <% for(let i=0; i<users.length; i++){  %>
                                <tr>
                                <% if(users[i].role) {%>
                                    <td class="px-6 py-3 whitespace-no-wrap">
                                        <div class=" items-end">
                                            <div class="ml-4">
                                            <div class="text-sm leading-5 font-medium text-gray-900">
                                                <%= users[i].uname %>
                                            </div>
                                            </div>
                                        </div>
                                        </td>
                                        <td class="px-6 py-3 whitespace-no-wrap">
                                            <div class=" items-start">
                                                <div class="ml-4">
                                                <div class="text-sm leading-5 font-medium text-gray-900">
                                                    <%= users[i].uemail %>
                                                </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td class="px-6 py-3 whitespace-no-wrap items-end text-sm leading-5 font-medium">
                                                <form id="teams<%= i %>"action="/team" method="GET">
                                                    <input id="tid" name="tid" type="hidden" value="dsa">
                                                    <input id="tname" name="tname" type="hidden" value="sad">
                                                <a href="#" onclick="document.getElementById('teams<%= i %>').submit()" type="submit" class="ml-28 text-indigo-600 text-right hover:underline hover:text-indigo-900">View</a>
                                              </form>
                                                </td>
                                    <% }} %>
                                    
                                </tr>
                            </tbody>
                        
                        
                        </table>
                        <div class="min-w-full h-10 pt-3">Members</div>
                        <table class="min-w-full divide-y divide-gray-200">
                            <tbody class="bg-white min-w-full divide-y-4 divide-green-50">
                                    <% for(let i=0; i<users.length; i++){  %>
                                        <% if(!(users[i].role)) {%>
                                        <tr>
                                    <td class="px-6 py-2 ">
                                    <div class=" items-end">
                                        <div class="ml-4">
                                        <div class="text-sm leading-6 font-medium text-gray-900">
                                            <%= users[i].uname %>
                                        </div>
                                        </div>
                                    </div>
                                    </td>
                                    <td class="px-6 py-2 whitespace-no-wrap truncate">
                                        <div class=" place-items-start">
                                            <div class="ml-4">
                                            <div class="text-sm  leading-6 font-medium text-gray-900">
                                                <%= users[i].uemail %>
                                            </div>
                                            </div>
                                        </div>
                                        </td>
                                        <td class="px-6 py-3 whitespace-no-wrap items-end text-sm leading-5 font-medium">
                                            <form id="teams"action="/team" method="GET">
                                                <input id="tid" name="tid" type="hidden" value="sdsa">
                                                <input id="tname" name="tname" type="hidden" value="sadsd">
                                            <a href="#" onclick="document.getElementById('teams').submit()" type="submit" class="ml-28 text-indigo-600 text-right hover:underline hover:text-indigo-900">View</a>
                                          </form>
                                            </td>
                                </tr>
                                <% } }%>
                        </tbody>
                        
                        
                    </table>
                </div>
                    <a href="/createteam"><button type="submit"class="submit"> Create new team</button></a>
                    
                    <a href="/jointeam"><button type="submit" class="submit" >Join Existing team</button></a>
                    
                    
                
                
            </div>
        </div>
    </div>
</body>

</html>