<!DOCTYPE html>

<html>

<head>
    <title>Team</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/d1f9ff8b6d.js" crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


    <style>
        .submit {
            border-radius: 5px;
            background-color: rgba(73, 115, 162, 1);
            width: 20%;
            position: center;
            margin: 3%;
            padding: 1%;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="min-h-screen bg-dotmanage">
        <div style="width: 100%;height: 8%;background-color: rgba(73,115,162,1);position: fixed;" class="object-top">
            <div style="padding-right: 1%;padding-top: .9%;">
                <button class="md:text-lg btn logout" style="float: right;">Logout</button>
            </div>


            <p class="text-base md:text-3xl "
                style="padding-left:.8%; padding-top:.1%; color: white; text-align: left;">Dot Manage</p>
        </div>

        <div class="flex md:flex-row" style="position: fixed;top: 8%;width: 100%;height: 92%;">

            <div href="" style="width: 15%;height: 100%;background-color: white;" class="">

                <a href="/dashboard">
                    <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                        <i style="color: black; float: left; margin-right: 10px;" class="fas fa-users"></i>
                        <p style="color: black; ">View Teams</p>
                    </div>
                </a>

                <a href="/costestimation">
                    <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                        <i style="color: black; float: left; margin-right: 10px;" class="fas fa-money-bill-alt"></i>
                        <p style="color: black;">Estimate Cost</p>
                    </div>
                </a>
                <form method="GET" id="teams<%= teamid %>" action="/settings" overflow: auto;>
                    <input type="hidden" name="teamid" id="teamid" value="<%= teamid %>">
                    <input type="hidden" name="tname" id="tname" value="<%= tname %>">
                    <a style=" width: 100%; " href="#" onclick="document.getElementById('teams<%= teamid %>').submit()"
                        type="submit">
                        <div class="rightmargin"
                            style=" width: 100%; color: black; padding: 10px; border: 1px solid black;">
                            <i style="color: black; float: left;  margin-right: 10px;" class="fas fa-cog"></i>
                            <p style="color: black;">Team settings</p>
                        </div>
                    </a>
                </form>

            </div>



            <div style="flex-grow: 1 ;width: 85%;height: 100%; padding: 4%; padding-top: 0; padding-right: 0; overflow:auto;"
                class="formbody">

                <div style="flex-grow: 1 ;width: 100%;height: 15%; padding: 5%;">
                    <h1 class="text-xl text-center">Hello </h1>
                </div>
                <% if (1==0){ %>
                    <div
                        style="flex-grow: 1 ;size: 3%;text-align: center; width: 100%;height: 80%; padding: 5%;padding-top:13%;">
                        No teams joined yet.</div>
                    <% } else {%>
                        <div style="flex-grow: 1 ;width: 100%;height: 80%; padding: 5%;padding-top:1%;overflow:auto;">
                            <table class="min-w-full divide-y-4 divide-gray-200 table-auto">
                                <thead>
                                    <tr>
                                        <th
                                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            Task ID
                                        </th>
                                        <th
                                            class="px-6 py-3 bg-gray-50 text-mid text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            Task Title
                                        </th>
                                        <th
                                            class="px-6 py-3 bg-gray-50 text-mid text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            Deadline
                                        </th>
                                        <th
                                            class="px-6 py-3 bg-gray-50 text-mid text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            Status
                                        </th>
                                        <th
                                            class="px-6 py-3 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-white min-w-full divide-y-4 divide-green-50">
                                    <% for(let i=0; i<20; i++){ %>
                                        <tr>
                                            <td class="px-6 py-3 whitespace-no-wrap">
                                                <div class=" justify-items-start place-items-start">
                                                    <div class="">
                                                        <div class="text-sm leading-5 font-medium text-gray-900">
                                                            aaaaaaaaaa
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-6 py-3 whitespace-nowrap">
                                                <div class=" items-center">
                                                    <div class="ml-4">
                                                        <div class="text-sm text-center leading-5 font-medium text-gray-900">
                                                            assasdaaaa
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-6 py-3 whitespace-nowrap">
                                                <div class=" items-center">
                                                    <div class="ml-6">
                                                        <div class="text-sm text-center leading-5 font-medium text-gray-900">
                                                            aaaaaaaaaa
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-6 py-3 whitespace-nowrap">
                                                <div class=" items-center">
                                                    <div class="ml-6">
                                                        <div class="text-sm text-center leading-5 font-medium text-gray-900">
                                                            aaaaaaaaaa
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td
                                                class="px-6 py-3 whitespace-nowrap text-right text-sm leading-5 font-medium">
                                                <form id="teams<%= i %>" action="/team" method="GET">
                                                    <input id="tid" name="tid" type="hidden" value="a">
                                                    <input id="tname" name="tname" type="hidden" value="b">
                                                    <a href="#"
                                                        onclick="document.getElementById('teams<%= i %>').submit()"
                                                        type="submit"
                                                        class="ml-4 text-indigo-600 text-right hover:underline hover:text-indigo-900">Modify</a>
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>


                            </table>
                        </div>
                        <% } %>
                        <form method="GET" action="/settask">
                            <input type="hidden" name="teamid" id="teamid" value="<%= teamid %>">
                            <input type="hidden" name="tname" id="tname" value="<%= tname %>">
                            <a href="/settask"><button type="submit" class="submit"> Create new task</button></a>
                        </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>