<head>
    <meta charset="UTF-8">
    <title>
        <%= username %> Dashboard
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2.2.4/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="flex flex-col h-screen">
        <div class=" lg:hidden h-auto flex justify-between items-center sm:px-5 px-3 bg-blue-900">
            <div class="lg:hidden">
                <button class="text-blue-100" onclick="openDrawer()">
                    <svg class=" fill-current " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px"
                        height="24px">
                        <path d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001
                             1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 
                             3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z" />
                    </svg></button>
            </div>
            <div class="text-blue-100 font-semibold text-2xl p-3 cursor-default">
                Dot Manage
            </div>
            <button onclick="document.location.href='/logout'" class="text-blue-100 hover:text-red-700 p-3">
                <svg class="fill-current" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 89.6 122.88">
                    <style type="text/css">
                        .st0 {
                            fill-rule: evenodd;
                            clip-rule: evenodd;
                        }
                    </style>
                    <path
                        d="M66.4,68.66H40.29a7.23,7.23,0,0,1,0-14.45H66.4l-8.48-9.46a7.25,7.25,0,0,1,.51-10.16,7.06,7.06,0,0,1,10.05.5L87.7,56.54a7.27,7.27,0,0,1,.06,9.72L68.48,87.77a7.05,7.05,0,0,1-10.05.51,7.25,7.25,0,0,1-.51-10.16l8.48-9.46ZM42.94,108.57a7.22,7.22,0,0,1-2.83,14.17l-3.37-.68C12.84,117.32,0,114.63,0,80.2V40.63C0,7.65,13.78,5.07,36.6.81L40.17.13A7.21,7.21,0,0,1,42.88,14.3L39.25,15c-15.46,2.89-24.8,4.63-24.8,25.65V80.2c0,22.61,8.77,24.46,25.1,27.7l3.39.67Z" />
                </svg>
            </button>
        </div>
        <div class="flex h-screen bg-blue-100">
            <div
                class="lg:w-72 rounded-br-xl rounded-tr-xl hidden lg:flex flex-col py-4 px-3 lg:justify-start lg:items-center w-full h-full bg-blue-900 ">
                <h2 class="text-3xl font-bold text-white py-8 px-5">Dotmanage
                </h2>
                <div class="mt-10"></div>
                
                <button
                    class="hover:bg-blue-500 bg-blue-500 w-full mr-5 ml-5 rounded-2xl focus:border-double focus:border-blue-900 ">
                    <div
                        class="px-5 py-3   cursor-pointer font-semibold text-lg xl:text-xl text-blue-100 flex justify-start items-center">
                        <svg class="fill-current mr-2 " version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" heigh="30px"
                            viewBox="0 0 122.88 82.72" style="enable-background:new 0 0 122.88 82.72"
                            xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <g>
                                <path class="st0"
                                    d="M85.96,9.48c4.5-0.31,9.34,0.41,12.33,2.16c3.41,1.99,5.42,5.48,5.42,11.01v4.84c0,2.17-0.08
                                    ,2.23,0.71,3.37 c0.6,0.87,0.74,0.97,0.93,2.03c0.27,1.39,0.28,2.8,0.3,4.25c0.03,2.26-0.83,2.91-1.98
                                    ,4.74l-4.89,7.79 c-1.52,2.43-2.9,3.91-2.3,6.99c1.34,6.83,20.91,10.68,26.38,13.11v12.94h-15.91c0-2.44
                                    ,0.9-14.57-0.45-15.57 c-16.41-12.11-38.14-5.37-21.54-31.24c1.31-2.1,1.4-2.99
                                    ,2.27-5.43C88.84,25.99,88.64,16.5,85.96,9.48L85.96,9.48L85.96,9.48z M36.92,9.48c-4.5-0.31-9.34,0.41-12.33
                                    ,2.16c-3.41,1.99-5.42,5.48-5.42,11.01v4.84c0,2.17,0.08,2.23-0.71,3.37 c-0.6,0.87-0.73,0.97-0.93,2.03c-0.27
                                    ,1.39-0.28,2.8-0.3,4.25c-0.03,2.26,0.83,2.91,1.98,4.74l4.89,7.79 c1.52,2.43,2.9,3.91,2.3,6.99C25.03,63.5
                                    ,5.47,67.35,0,69.78v12.94h15.9c0-2.44-0.9-14.57,0.45-15.57 c16.41-12.11,38.14-5.37,21.54-31.24c-1.31-2.1-1.4-2.99-2.27-5.43C34.04
                                    ,25.99,34.24,16.5,36.92,9.48L36.92,9.48L36.92,9.48z M20.05,82.72l0-12.89c6.17-2.74,30.31-8.8,31.82-16.51c0.68-3.47-0.89-5.15-2.6-7.89l-5.52-8.79c-1.29-2.07-2.27-2.8-2.23-5.35
                                     c0.02-1.43,0.04-2.85,0.25-4.23c0.26-1.76,0.48-1.82,1.4-3.24c0.62-0.95,0.55-1.24,0.55-3.43v-5.46c0-6.31,2.32-10.25,6.24-12.49 c5.73-3.27,17.36-3.27,23.06,0.07c3.84,2.25,6.12
                                     ,6.18,6.12,12.42v5.46c0,2.46-0.09,2.52,0.8,3.81c0.68,0.98,0.83,1.1,1.06,2.29 c0.3,1.56,0.32,3.17,0.34,4.8c0.04,2.55-0.93,3.29-2.23
                                     ,5.35l-5.51,8.79c-1.71,2.74-3.28,4.42-2.59,7.89 c1.52,7.71,23.6,12.05,29.76,14.8v14.61L20.05,82.72L20.05,82.72L20.05,82.72z" />
                            </g>
                        </svg>
                        View Teams
                    </div>
                </button>
                <button onclick="document.location.href='/createteam'" class="hover:bg-blue-500 mt-2 w-full mr-5 ml-5 rounded-2xl focus:border-double focus:border-blue-900 ">
                    <div
                        class="px-5 py-3   cursor-pointer font-semibold text-lg xl:text-xl text-blue-100 flex justify-start items-center">
                        <svg class="fill-current mr-2" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                            width="30px" heigh="30px" viewBox="0 0 122.88 113.03" style="enable-background:new 0 0 122.88 113.03" xml:space="preserve">
                            
                            <g>
                                <path class="st0"
                                    d="M36.9,23.5h71.13c8.17,0,14.85,6.69,14.85,14.85v59.83c0,8.17-6.69,14.85-14.85,14.85H36.9 c-8.17,0-14.85-6.68-14.85-14.85V38.35C22.05,30.19,28.73,23.5,36.9,23.5L36.9,23.5z M10.08,73.96c0,2.78-2.26,5.04-5.04,5.04 C2.26,79,0,76.74,0,73.96V19.89C0,14.42,2.24,9.44,5.84,5.84C9.44,2.24,14.42,0,19.89,0h65.37c2.78,0,5.04,2.26,5.04,5.04 c0,2.78-2.26,5.04-5.04,5.04H19.89c-2.69,0-5.15,1.1-6.93,2.88c-1.78,1.78-2.88,4.23-2.88,6.93V73.96L10.08,73.96z M54.3,74.03 c-3.18,0-5.76-2.58-5.76-5.76s2.58-5.76,5.76-5.76H66.7V50.1c0-3.18,2.58-5.76,5.76-5.76s5.76,2.58,5.76,5.76v12.41h12.41 c3.18,0,5.76,2.58,5.76,5.76s-2.58,5.76-5.76,5.76H78.23v12.41c0,3.18-2.58,5.76-5.76,5.76s-5.76-2.58-5.76-5.76V74.03H54.3 L54.3,74.03z" />
                            </g>
                        </svg>
                        Create Team
                    </div>
                </button>
                <button onclick="document.location.href='/jointeam'" class="hover:bg-blue-500 mt-2 w-full mr-5 ml-5 rounded-2xl focus:border-double focus:border-blue-900 ">
                    <div
                        class="px-5 py-3   cursor-pointer font-semibold text-lg xl:text-xl text-blue-100 flex justify-start items-center">
                        <svg class="fill-current mr-2" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px"
                            height="30px" width="110.395px" height="122.88px" viewBox="0 0 110.395 122.88" enable-background="new 0 0 110.395 122.88"
                            xml:space="preserve">
                            <g>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0,79.239v-34.54h35.025V13.631l47.004,48.305L35.025,110.31v-31.07H0L0,79.239z M93.359,17.16L75.68,9.377L75.99,0h34.404v61.439v61.44H75.99l-0.311-6.835l17.68-10.946V17.16L93.359,17.16z" />
                            </g>
                        </svg>
                        Join Team
                    </div>
                </button>
                
                <button onclick="document.location.href='/costestimation'" class="hover:bg-blue-500 mt-3 w-full mr-2 ml-2 rounded-2xl focus:ring-2 focus:ring-red-100">
                    <div
                        class="px-5 py-3   cursor-pointer font-semibold text-lg xl:text-xl text-blue-100 flex justify-start items-center">
                        <svg class="mr-2 fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px"
                            viewBox="0 0 107.69 122.88" style="enable-background:new 0 0 107.69 122.88"
                            xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <g>
                                <path class="st0"
                                    d="M88.17,91.59c0-0.42,0-0.85,0-1.27c0-0.42,0-0.85,0.01-1.28c0.57-0.03,1.04-0.21,1.4-0.55 c0.36-0.33,0.55-0.73,0.59-1.2c0.04-0.53-0.13-0.99-0.5-1.4c-0.37-0.4-0.97-0.63-1.77-0.69c-0.76-0.06-1.35,0.08-1.78,0.42 c-0.43,0.34-0.7,0.79-0.79,1.38c-0.11,0.73,0.1,1.41,0.65,2.03c-0.2,0.68-0.4,1.36-0.6,2.04c-1.14-0.3-2.27-0.6-3.39-0.9 c-1.11-0.3-2.21-0.6-3.31-0.9c0.28-1.12,0.56-2.24,0.84-3.36c0.28-1.12,0.56-2.24,0.83-3.36c0.71,0.05,1.41,0.11,2.12,0.17 c-0.17,0.8-0.34,1.6-0.51,2.4c-0.17,0.8-0.34,1.6-0.51,2.4c0.7,0.19,1.4,0.37,2.11,0.56c-0.17-0.59-0.2-1.17-0.09-1.77 c0.1-0.56,0.3-1.08,0.57-1.54c0.27-0.46,0.63-0.87,1.06-1.24c0.86-0.72,1.87-1.04,3.03-0.94c0.97,0.08,1.81,0.46,2.54,1.16 c0.5,0.47,0.88,1.02,1.12,1.64c0.24,0.62,0.35,1.31,0.32,2.08c-0.03,0.61-0.14,1.16-0.32,1.65c-0.19,0.49-0.46,0.91-0.81,1.28 C90.27,91.12,89.33,91.52,88.17,91.59L88.17,91.59L88.17,91.59z M6.31,0h76.52c1.73,0,3.31,0.71,4.46,1.85 c0.04,0.04,0.08,0.08,0.11,0.13c1.07,1.13,1.74,2.66,1.74,4.33v63.18c-0.94-0.06-1.88-0.08-2.81-0.08c-0.32,0-0.64,0.01-0.96,0.01 V6.31c0-0.66-0.25-1.26-0.67-1.71l-0.08-0.07c-0.46-0.46-1.09-0.75-1.79-0.75H6.31c-0.7,0-1.33,0.28-1.79,0.74L4.51,4.52 C4.06,4.98,3.78,5.61,3.78,6.31v103.48c0,0.66,0.25,1.26,0.67,1.71l0.08,0.07c0.46,0.46,1.09,0.75,1.79,0.75h51.48v0.71 c0,1.05,0.1,2.07,0.29,3.06H6.31c-1.73,0-3.31-0.71-4.46-1.85c-0.04-0.04-0.08-0.08-0.11-0.13C0.66,112.98,0,111.46,0,109.79V6.31 C0,4.58,0.71,3,1.85,1.86l0.01-0.01C3.01,0.71,4.58,0,6.31,0L6.31,0z M67.1,19.3h2.18v11.76H67.1V19.3L67.1,19.3L67.1,19.3z M15.53,48.97h10.7c0.91,0,1.67,0.75,1.67,1.67v9.03c0,0.91-0.75,1.67-1.67,1.67h-10.7c-0.91,0-1.67-0.75-1.67-1.67v-9.03 C13.87,49.71,14.62,48.97,15.53,48.97L15.53,48.97L15.53,48.97z M15.53,91.88h10.7c0.91,0,1.67,0.75,1.67,1.67v9.03 c0,0.92-0.75,1.67-1.67,1.67h-10.7c-0.91,0-1.67-0.75-1.67-1.67v-9.03C13.87,92.63,14.62,91.88,15.53,91.88L15.53,91.88 L15.53,91.88L15.53,91.88z M15.53,70.42h10.7c0.91,0,1.67,0.75,1.67,1.67v9.03c0,0.91-0.75,1.67-1.67,1.67h-10.7 c-0.91,0-1.67-0.75-1.67-1.67v-9.03C13.87,71.17,14.62,70.42,15.53,70.42L15.53,70.42L15.53,70.42z M62.93,48.97h10.69 c0.91,0,1.66,0.75,1.66,1.67v9.03c0,0.91-0.75,1.67-1.66,1.67H62.93c-0.91,0-1.67-0.75-1.67-1.67v-9.03 C61.26,49.71,62.01,48.97,62.93,48.97L62.93,48.97L62.93,48.97z M62.93,70.42h10.69c0.47,0,0.9,0.2,1.21,0.52 c-5.62,1.57-10.49,4.31-13.56,8.16v-7.01C61.26,71.17,62.01,70.42,62.93,70.42L62.93,70.42L62.93,70.42z M39.23,48.97h10.7 c0.91,0,1.67,0.75,1.67,1.67v9.03c0,0.91-0.75,1.67-1.67,1.67h-10.7c-0.91,0-1.67-0.75-1.67-1.67v-9.03 C37.56,49.71,38.31,48.97,39.23,48.97L39.23,48.97L39.23,48.97z M39.23,91.88h10.7c0.91,0,1.67,0.75,1.67,1.67v9.03 c0,0.92-0.75,1.67-1.67,1.67h-10.7c-0.91,0-1.67-0.75-1.67-1.67v-9.03C37.56,92.63,38.31,91.88,39.23,91.88L39.23,91.88 L39.23,91.88z M39.23,70.42h10.7c0.91,0,1.67,0.75,1.67,1.67v9.03c0,0.91-0.75,1.67-1.67,1.67h-10.7c-0.91,0-1.67-0.75-1.67-1.67 v-9.03C37.56,71.17,38.31,70.42,39.23,70.42L39.23,70.42L39.23,70.42z M14.12,12.32h60.89c0.92,0,1.76,0.38,2.36,0.98 c0.05,0.05,0.09,0.1,0.14,0.15c0.52,0.59,0.84,1.37,0.84,2.21v19.03c0,0.92-0.37,1.75-0.98,2.36l-0.01,0.01 c-0.6,0.6-1.44,0.98-2.36,0.98H14.12c-0.92,0-1.76-0.38-2.36-0.98c-0.05-0.05-0.1-0.1-0.14-0.15c-0.52-0.59-0.84-1.37-0.84-2.21 V15.66c0-0.91,0.38-1.74,0.98-2.35l0.01-0.01C12.38,12.7,13.21,12.32,14.12,12.32L14.12,12.32z M74.58,16.1H14.56v18.16h60.02V16.1 L74.58,16.1z M106.7,108.08c0.64,1.08,0.99,2.22,0.99,3.4c0,6.29-9.73,11.39-21.73,11.39c-12,0-21.73-5.1-21.73-11.39 c0-1.18,0.35-2.33,0.99-3.4c2.76,4.63,11.01,7.99,20.74,7.99C95.7,116.07,103.94,112.72,106.7,108.08L106.7,108.08L106.7,108.08z M85.96,80.11c9.86,0,17.86,3.14,17.86,7c0,3.87-8,7-17.86,7S68.1,90.99,68.1,87.12C68.1,83.25,76.1,80.11,85.96,80.11L85.96,80.11 L85.96,80.11L85.96,80.11z M85.96,77.79c12,0,21.73,5.1,21.73,11.39c0,6.29-9.73,11.39-21.73,11.39 c-12-0.01-21.73-5.11-21.73-11.39C64.23,82.89,73.96,77.79,85.96,77.79L85.96,77.79L85.96,77.79z M106.77,96.77 c0.59,1.03,0.91,2.14,0.91,3.27c0,6.29-9.73,11.39-21.73,11.39c-12,0-21.73-5.1-21.73-11.39c0-1.14,0.32-2.23,0.91-3.27 c2.69,4.69,10.99,8.12,20.82,8.12C95.79,104.89,104.1,101.47,106.77,96.77L106.77,96.77L106.77,96.77L106.77,96.77z" />
                            </g>
                        </svg>
                        Estimate Cost
                    </div>
                </button>
                <button onclick="document.location.href='/logout'" class="hover:bg-blue-500 mt-3 w-full mr-2 ml-2 rounded-2xl focus:ring-2 focus:ring-red-100">
                    <div
                        class="px-5 py-3 cursor-pointer font-semibold text-lg xl:text-xl text-blue-100 flex justify-start items-center">
                        <svg class="fill-current" width="30px" height="30px" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 89.6 122.88">
                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                }
                            </style>
                            <path
                                d="M66.4,68.66H40.29a7.23,7.23,0,0,1,0-14.45H66.4l-8.48-9.46a7.25,7.25,0,0,1,.51-10.16,7.06,7.06,0,0,1,10.05.5L87.7,56.54a7.27,7.27,0,0,1,.06,9.72L68.48,87.77a7.05,7.05,0,0,1-10.05.51,7.25,7.25,0,0,1-.51-10.16l8.48-9.46ZM42.94,108.57a7.22,7.22,0,0,1-2.83,14.17l-3.37-.68C12.84,117.32,0,114.63,0,80.2V40.63C0,7.65,13.78,5.07,36.6.81L40.17.13A7.21,7.21,0,0,1,42.88,14.3L39.25,15c-15.46,2.89-24.8,4.63-24.8,25.65V80.2c0,22.61,8.77,24.46,25.1,27.7l3.39.67Z" />
                        </svg>
                        <p class="ml-2">Logout</p>
                    </div>
                </button>
            </div>

            <div class="w-full h-screen bg-blue-100 p-5">
                <h1 class="text-blue-800 lg:text-2xl xl:text-3xl ml-2 mb-2 font-bold">Teams</h1>
                <div class="flex flex-wrap">
                    <% if (teams.length==0){ %>
                        <div class="flex justify-center items-center font-semibold text-lg capitalize">No
                            teams joined yet.</div>
                        <% } else { for(let i=0; i<teams.length; i++){%>
                    <div class="flex lg:w-1/4 lg:item-center lg:flex-row w-full h-auto lg:h-44">
                        <div
                            class="bg-white w-full m-2 rounded-lg p-3 flex justify-between lg:items-start items-center lg:flex-col flex-row">
                            <div class="font-semibold lg:text-lg text-lg lg:overflow-hidden text-gray-700 w-auto lg:h-8"><%= teams[i].tname %></div>
                            <p class="Description hidden lg:flex text-sm lg:overflow-hidden font-sans h-16"><%= teams[i].tdescription %></p>
                            <div class="lg:flex lg:justify-end lg:items-center w-auto lg:w-full h-8">
                                <form id="teams<%= i %>" action="/team" method="GET">
                                    <input id="tid" name="tid" type="hidden" value="<%= teams[i].teamid %>">
                                    <input id="tname" name="tname" type="hidden" value="<%= teams[i].tname %>">
                                   
                                <button onclick="document.getElementById('teams<%= i %>').submit()" type="submit"
                                    class="flex bg-blue-900 px-2 py-1 text-blue-100 lg:mt-1 rounded-lg items-center justify-start h-auto w-auto lg:w-auto">View
                                    <svg class="fill-current ml-2 h-4 w-4" version="1.1" id="Layer_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88">
                                        <g>
                                            <path
                                                d="M37.95,4.66C45.19,1.66,53.13,0,61.44,0c16.96,0,32.33,6.88,43.44,18c5.66,5.66,10.22,12.43,13.34,19.95 c3,7.24,4.66,15.18,4.66,23.49c0,16.96-6.88,32.33-18,43.44c-5.66,5.66-12.43,10.22-19.95,13.34c-7.24,3-15.18,4.66-23.49,4.66 c-8.31,0-16.25-1.66-23.49-4.66c-7.53-3.12-14.29-7.68-19.95-13.34C12.34,99.22,7.77,92.46,4.66,84.93C1.66,77.69,0,69.75,0,61.44 c0-8.31,1.66-16.25,4.66-23.49C7.77,30.42,12.34,23.66,18,18C23.65,12.34,30.42,7.77,37.95,4.66L37.95,4.66z M50,47.13 c-2.48-2.52-2.45-6.58,0.08-9.05c2.52-2.48,6.58-2.45,9.05,0.08L77.8,57.13c2.45,2.5,2.45,6.49,0,8.98L59.49,84.72 c-2.48,2.52-6.53,2.55-9.05,0.08c-2.52-2.48-2.55-6.53-0.08-9.05l13.9-14.13L50,47.13L50,47.13z M42.86,16.55 c-5.93,2.46-11.28,6.07-15.76,10.55c-4.48,4.48-8.09,9.83-10.55,15.76c-2.37,5.71-3.67,11.99-3.67,18.58 c0,6.59,1.31,12.86,3.67,18.58c2.46,5.93,6.07,11.28,10.55,15.76c4.48,4.48,9.83,8.09,15.76,10.55c5.72,2.37,11.99,3.67,18.58,3.67 c6.59,0,12.86-1.31,18.58-3.67c5.93-2.46,11.28-6.07,15.76-10.55c4.48-4.48,8.09-9.82,10.55-15.76c2.37-5.71,3.67-11.99,3.67-18.58 c0-6.59-1.31-12.86-3.67-18.58c-2.46-5.93-6.07-11.28-10.55-15.76c-4.48-4.48-9.83-8.09-15.76-10.55 c-5.71-2.37-11.99-3.67-18.58-3.67S48.58,14.19,42.86,16.55L42.86,16.55z" />
                                        </g>
                                    </svg>
                                </button></form>
                            </div>
                        </div>
                    </div>
                <% }} %>
                </div>
            </div>
        </div>
    </div>
    <script lang="javascript">
        function openDrawer() {

        }
    </script>
</body>